@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;700&family=Signika+Negative&display=swap');
  
@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

:root {
    --fg:        #4c4f69;
    --bg:        #eff1f5;
    --rosewater: #f2d5cf;
    --flamingo:  #eebebe;
    --pink:      #f4b8e4;
    --mauve:     hsl(277, 59%, 76%);
    --red:       #e78284;
    --peach:     #ef9f76;
    --maroon:    #ea999c;
    --yellow:    #e5c890;
    --green:     #a6d189;
    --teal:      #81c8be;
    --sky:       #99d1db;
    --sapphire:  #85c1dc;
    --blue:      #8ba9ed;
    --lavender:  #babbf1;

    --lavenderd: #7287fd;
    --flamingod: #dd7878;
    --peachd:    #fe640b;

    --crust:     #232634;

    --method:    var(--sky);
    --property:  var(--green);
    --attribute: var(--green);

    --links: hsl(277, 49%, 65%);;
}

a:visited {
    color: var(--links);
}

div.sphinxsidebarwrapper p.blurb {
    text-align: center;
}

div.sphinxsidebarwrapper code.xref.py-class:hover {
    background-color: initial;
}

div.sphinxsidebar a:hover code {
    background-color: inherit;
}

div.sphinxsidebar code {
    color: inherit;
}

img {
    border-radius: .5rem;
}

.break-block {
    display: inline-block;
}

div.body h1 {
    line-height: 1em;
    margin: .6em 0;
}

dl.py {
    margin-bottom: 1.5em;
}

dl.py.class {
    padding: 2em 0em;
}

div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
    font-weight: 500;
}

div.sphinxsidebar h3, div.sphinxsidebar h4 {
    font-weight: 500;
}
.class > .sig-object .sig-param a.reference.internal,
.class > .sig-object .sig-param a.reference.external {
    color: var(--fg);
    background-color: var(--flamingo);
    text-decoration: underline;
    text-decoration-style: dotted;
}

h1.logo a {
    font-family: Eczar;
    font-weight: 700;
    border: none;
    background: var(--bg);
    padding: .2em 1em;
    color: var(--fg);
    font-size: 2rem;
}

h1.logo a:hover {
    border-bottom: none;
}

div.sphinxsidebarwrapper h1.logo {
    margin-bottom: .5em;
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
}

pre {
    padding: 30px;
    border-radius: .5rem;
    background-color: var(--crust);
}

.search {
    border-radius: .5rem;
    font-size: 1.2em;
}


div.sphinxsidebar #searchbox input[type="text"] {
    color: var(--fg);
    background-color: var(--bg);
    border-color: var(--bg);
    padding-left: .5em;
}

div.sphinxsidebar input[type="submit"] {
    color: var(--fg);
    background-color: var(--rosewater);
    border-color: var(--rosewater);
}

.class > dt {
    background: var(--rosewater);
    padding: .7em 0em .7em 1em;
    display: inline-block;
    line-height: 1em;
}

div.admonition .pre,
div.admonition code,
div.admonition code.xref, code.xref {
    background-color: inherit;
    color: var(--fg);
    border: none;
}


code.xref.py-class:hover {
    background-color: var(--rosewater);
}

code.xref.py-meth:hover {
    background-color: var(--method);
}

code.xref.py-attr:hover {
    background-color: var(--attribute);
}

code.xref.py-prop:hover {
    background-color: var(--property);
}


div.admonition code.xref:hover, code.xref:hover {
    background-color: var(--bg);
    border: none;
}

div.admonition code.xref.py-class:hover {
    background-color: var(--rosewater);
}

div.admonition code.xref.py-meth:hover {
    background-color: var(--method);
}

div.admonition code.xref.py-attr:hover {
    background-color: var(--attribute);
}

div.admonition code.xref.py-prop:hover {
    background-color: var(--property);
}

div.admonition, a.reference, a.reference:hover {
    border: none;
}

div.admonition {
    border-radius: .5rem;
    border: none;
    padding: 1.5em;
}

div.attention {
    background-color: var(--yellow);
}

div.warning {
    background-color: var(--maroon);
}

div.note {
    background-color: var(--bg);
}

.property .descname {
    border-bottom: 3px solid var(--property);
}

.attribute .descname {
    border-bottom: 3px solid var(--attribute);
}


.method .descname {
    border-bottom: 3px solid var(--method);
}

.class_contents td {
    padding-right: 1em;
}

.class_contents td:last-child {
    padding-right: 0;
}

.class_contents th span {
    font-family: Eczar;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1em;

    padding: .2em 1em;
}

.class_contents th {
    padding-bottom: 1em;
    padding-top:    1em;
}

th span.properties {
    background-color: var(--property);
}

th span.attributes {
    background-color: var(--attribute);
}

th span.methods {
    background-color: var(--method);
}

.class_contents td:empty, .class_contents th:empty {
    padding: 0;
    /* display: block; */
    background-color: none;
}

.class_contents {
    border-collapse: collapse;
    margin-bottom: 2em;
    margin-top: 1em;
    width: 100%;
}

@media screen and (max-width: 875px) {
    div.sphinxsidebar h1.logo a {
        color: var(--fg);
        background-color: var(--bg);
    }

    div.sphinxsidebar {
        background-color: var(--crust);
        padding-top: 3em;
    }

    div.sphinxsidebar a {
        color: var(--bg);
    }

    div.sphinxsidebar ul {
        color: var(--bg)
    }

    div.sphinxsidebar #searchbox input[type="text"] {
        color: var(--bg);
        background-color: var(--fg);
        border-color: var(--fg);
        padding-left: .5em;
    }
    
    div.sphinxsidebar input[type="submit"] {
        color: var(--fg);
        background-color: var(--bg);
        border-color: var(--bg);
    }
}

.chafa-img {
    font-family: "JetBrains Mono";
    overflow: hidden;
    text-align: center;
}

.chafa-img .row {
    margin: 0;
    line-height: normal;
}


#index > h1:first-child {
    display: none;
}